*{
    margin:0;
    padding: 0;
}

.nav{
    background-color:#BE3144 ;
}

ul{
    list-style: none;
    display: flex;
    justify-content: flex-end;
}

li a {
    color: white;
    text-decoration: none;
}
li{
    padding: 25px;
    font-size: 25px;
    font-family: monospace;
}

li:hover{
    background-color:rgb(46,27,112) ;
}

h1{
    color: white;
    font-size: 50px;
}

#par{
    color:#be3144;
    font-style: oblique;
    font-size: 30px;
}

.intro{
    background-color: black;
    height: 90vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-image: linear-gradient(62deg, #3a3d40, #181719 100%);
}